{% extends 'base/base.html' %}
{% load static %}
{% block title %}角色管理{% endblock %}
{% block css %}
    <link href="{% static "base/datatables.net-bs/css/dataTables.bootstrap.min.css" %} " rel="stylesheet"/>
{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        角色管理
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> Home</li>
        <li>角色管理</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

          <div class="box">
            <div class="box-header">
                {% if '/users/role/add/' in request.session.permission_list %}
                    <button class="btn btn-success btn-xs">添加角色</button>
                {% endif %}
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="id_usertable" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>序号</th>
                  <th>角色名称</th>
                  <th>管理URL权限</th>
                  <th>创建时间</th>
                  <th>最后修改时间</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                  {% for item in RoleQuerySet %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.rolename }}</td>
                        <td>
                            {% for permobj in item.permissions.all %}
                                {{ permobj.permname }}<br>
                            {% endfor %}
                        </td>
                        <td>{{ item.created_time }}</td>
                        <td>{{ item.updated_time }}</td>
                        <td>
                            {% if '/users/role/edit/(\\d+)/' in request.session.permission_list %}
                                <button class="btn btn-primary btn-xs" title="编辑">编辑</button>
                            {% endif %}
                            {% if '/users/role/del/(\\d+)/' in request.session.permission_list %}
                                <button class="btn btn-danger btn-xs" title="删除">删除</button>
                            {% endif %}
                        </td>
                    </tr>
                  {% empty %}
                      <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                  {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->

{% endblock %}

{% block js %}
    <script src="{% static "base/datatables.net/js/jquery.dataTables.min.js" %}" type="text/javascript"></script>
    <script src="{% static "base/datatables.net-bs/js/dataTables.bootstrap.min.js" %}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            var language = {
                search: '搜索：',
                lengthMenu: "每页显示 _MENU_ 记录",
                zeroRecords: "没找到相应的数据！",
                info: "分页 _PAGE_ / _PAGES_",
                infoEmpty: "暂无数据！",
                infoFiltered: "(从 _MAX_ 条数据中搜索)",
                paginate: {
                    first: '<<',
                    last: '>>',
                    previous: '上一页',
                    next: '下一页',
                }
            };
            $("#id_usertable").DataTable({
                lengthMenu: [5, 10, 25, 50, 100, 1000],
                language: language
            })
        })
    </script>

{% endblock %}
